@import "@/styles/colors.scss";

.row {
  display: flex;

  button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border: 2px solid $dark32;
    border-radius: 10px;
    cursor: pointer;

    &:first-child {
      margin-right: 15px;
    }

    &:hover {
      border-color: $blue;
    }

    .icon {
      color: $white;
      font-size: 20px;
    }
  }

  .activeBtn {
    background-color: $blue;
    border-color: $blue;
  }
}
