@import "@/styles/colors.scss";

.formWrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.icon {
  font-size: larger;
}

.subtitle {
  text-align: center;
  color: $text !important;
}
