@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.backBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 0;
  text-decoration: none;
  font-size: x-large;
  color: $text;
  display: flex;
  align-items: center;
  width: fit-content;

  .icon {
    color: $text;
    font-size: large;
    margin-right: 10px;
  }

  &:hover {
    text-decoration-line: underline;
  }
}

.divider {
  background-color: $dark4;
}

.emptyMsg {
  color: $text;
}
