@import "@/styles/colors.scss";

.listItem {
  background-color: $dark32;
  border-radius: 20px;
  padding: 10px 20px;

  .rect {
    position: absolute;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    div {
      background-color: $white;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
    }
  }
  
  .blueRect {
    background-color: $blue;
  }
  
  .successRect {
    background-color: $green;
  }
  
  .content {
    margin-left: 60px;
    width: 100%;
  
    .title {
      margin-top: 0px;
      margin-bottom: 8px;
      color: $text;
    }
  
    .description {
      color: $text;
    }
  }

  .icon {
    color: $white;
    font-size: x-large;
  }

  .checkIcon {
    color: $white;
    font-size: x-large;
    font-weight: 900;
  }
}

.editIcon {
  color: $blue;
  font-size: large !important;
}

.deleteIcon {
  color: $red;
  font-size: large !important;
}

.overlayDropdown {
  .dropdownContent {
    background-color: $dark4;
  }
}

.dropdownActionText {
  color: $text;
}
