@import "@/styles/colors.scss";

.list {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.title {
  color: $text;
  font-size: 32px;
}

.emptyMsg {
  color: $text;
}

.divider {
  background-color: $dark4;
}

.searchRow {
  margin-bottom: 20px;
}
