@import "@/styles/colors.scss";

@mixin input-styles {
  background-color: $dark32;
  color: $text;

  &::placeholder {
    color: $text;
  }
}

.textField {
  background-color: $dark32;

  input {
    @include input-styles();
  }
}

.textarea {
  @include input-styles();
}
