@import "@/styles/colors.scss";

.textField {
  background-color: $dark32;

  input {
    background-color: $dark32;
    color: $text;

    &::placeholder {
      color: $text;
    }
  }
}

.textarea {
  background-color: $dark32;
  color: $text;

  &::placeholder {
    color: $text;
  }
}
